# registry=https://registry.npmjs.org/
# @scope:registry=https://registry.npmjs.org/

engine-strict=true
save-exact=true

# 禁用 npm 安装
init.use-pnpm = true
engine-strict=true
save-exact=true

# 强制使用 pnpm
package-manager=pnpm
