$headerheight: 40px;

.xms-home {
  width: 100%;
  height: 100vh;
  display: flex;

  &-left {
    width: 240px;
    height: 100%;

    &-header {
      width: 100%;
      height: $headerheight;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      font-size: 20px;
      font-weight: 900;
      color: #237ffa;
    }

    &-content {
      width: 100%;
      height: calc(100% - $headerheight);
      border-right: 1px solid #dfe2e8;

      &-menu {
        height: 100%;
      }
    }
  }

  &-right {
    flex: 1;
    height: 100%;

    &-header {
      width: 100%;
      height: $headerheight;
      padding: 0 20px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;
      justify-content: flex-end;
    }

    &-content {
      width: 100%;
      height: calc(100% - $headerheight);
    }
  }
}
